################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/SimpleShop/FileContentIndex/2351d75b-0dc2-4122-885e-b6f40ee5b222.vsidx
/.vs/SimpleShop/FileContentIndex/7b552866-1087-433d-906c-e53d9a77b163.vsidx
/.vs/SimpleShop/FileContentIndex/89c723ce-4859-4b5a-8fe8-da0b7d5bd5df.vsidx
/.vs/SimpleShop/FileContentIndex/ac82d04d-282b-43d0-970d-2395dc53c8f0.vsidx
/.vs/SimpleShop/FileContentIndex/c385e596-05a7-4e8f-ab10-e08696716dcf.vsidx
/.vs/SimpleShop/FileContentIndex/d218e3c4-1d59-49fd-9bf8-ee93204ea8b6.vsidx
/.vs/SimpleShop/FileContentIndex/f034bfde-2b85-4a79-94fb-179ef0620a2f.vsidx
/.vs/SimpleShop/FileContentIndex/f33dd67e-c234-457c-9692-d7718410bda5.vsidx
