@{
    ViewData["Title"] = "Account";
}

<div class="account">
    <div class="account-content">
        <div class="account-personal">
            <div class="account-personal-chapter">ВОЗВРАТ ДОПОЛНИТЕЛЬНОЙ УСЛУГИ</div>
            <hr />

            <div class="button-wrapper">
                <button type="submit" class="btn btn-primary"> <a class="dropdown-item" asp-area="PersonalAccount" asp-controller="Home" asp-action="Index">Подробнее</a></button>
            </div>
        </div>

        <div class="account-personal">
            <div class="account-personal-chapter">ПРОДЛЕНИЕ УСЛУГ ПО БОЛЕЗНИ</div>
            <hr />

            <div class="button-wrapper">
                <button type="submit" class="btn btn-primary"> <a class="dropdown-item" asp-area="PersonalAccount" asp-controller="Home" asp-action="Index">Подробнее</a></button>
            </div>
        </div>

        <div class="account-personal">
            <div class="account-personal-chapter">УДАЛЕНИЕ УЧЕТНОЙ ЗАПИСИ</div>
            <hr />

            <div class="button-wrapper">
                <button type="submit" class="btn btn-primary"> <a class="dropdown-item" asp-area="PersonalAccount" asp-controller="Home" asp-action="Index">Подробнее</a></button>
            </div>
        </div>
    </div>
</div>
