@model IEnumerable<SimpleShop.Mvc.ViewModels.CityViewModel>

<div class="list-group">
    @foreach(var city in Model)
    {
        <button class="choose-city" data-city="@city.Id">@city.Name </button>
    }
</div>

<script>
    $(".choose-city").click(function () {
        let cityId = $(this).data("city")
        $.ajax({
            url: '/Home/CookieUpdate?cityId=' + cityId,
            type: 'GET',
            dataType: 'html',
            success: function () {
                window.location.reload();
            },
            error: function (e) { }
        })
    })
</script>
