@{
    ViewData["Title"] = "Политика конфиденциальности";
}


<div class="privacy">
    <h1>@ViewData["Title"]</h1>

    <h5><b>1. Общие положения</b></h5>

    <p>
        <b>1.1</b> Настоящая Политика обработки персональных данных, в том числе биометрических персональных данных (далее — Политика обработки ПДн)
        ООО "Алекс Фитнес" (далее – Оператор), ОГРН 1117847374226, дата присвоения ОГРН: 08.09.2011 года, ИНН/КПП 7804468360/470301001,
        расположенного по адресу: Россия, 188691, Ленинградская обл., Всеволожский район, гор. Кудрово, ул. Ленинградская (Новый Оккервиль мкр), д. 1 пом. 2-Н
    </p>

    <p>
        <b>1.2</b> Политика разработана с учетом требований Конституции Российской Федерации, законодательных и иных нормативных правовых актов
        Российской Федерации в области персональных данных.
    </p>

    <p>
        <b>1.3</b> Политика действует в отношении всех персональных данных, которые обрабатывает общество с ограниченной ответственностью "Алекс Фитнес"
        (далее – Оператор или ООО «Алекс Фитнес») и распространяется на отношения в области обработки персональных данных, возникшие у Оператора как до,
        так и после утверждения настоящей Политики.
    </p>

    <p>
        <b>1.4</b> Политика обработки ПДн разработана с целью обеспечения защиты прав и свобод субъекта персональных данных при обработке его персональных
        данных (далее – ПДн), в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.
    </p>


    <h5><b>2. Основные понятия, используемые в настоящей Политике обработки ПДн </b></h5>
    <p>Для целей настоящей Политики применяются следующие термины и определения:</p>
    <p><b>Персональные данные</b> - любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу </p>
    <p><b>Субъект персональных данных</b> – физическое лицо, которое прямо или косвенно определено или определяемо с помощью персональных даных;</p>
    <p>
        <b>Оператор персональных данных (оператор)</b> - государственный орган, муниципальный орган, юридическое или физическое лицо, самостоятельно или
        совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных,
        состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными;
    </p>
    <p>
        <b>Персональные данные, разрешенные субъектом персональных данных для распространения</b>, - персональные данные, доступ неограниченного круга лиц к
        которым предоставлен субъектом персональных данных путем дачи согласия на обработку персональных данных, разрешенных субъектом персональных данных для
        распространения в порядке, предусмотренном Федеральным законом 27.07.2006 № 152-ФЗ «О персональных данных».
    </p>
    <p>
        <b>Обработка персональных данных клиента или сотрудника</b> - любое действие (операция) или совокупность действий (операций), совершаемых с
        использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление,
        хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование,
        удаление, уничтожение персональных данных клиента или сотрудника.
    </p>

    <h5><b>3. Основные понятия, используемые в настоящей Политике обработки ПДн </b></h5>
    <p>Для целей настоящей Политики применяются следующие термины и определения:</p>
    <p><b>Персональные данные</b> - любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу </p>
    <p><b>Субъект персональных данных</b> – физическое лицо, которое прямо или косвенно определено или определяемо с помощью персональных даных;</p>
    <p>
        <b>Оператор персональных данных (оператор)</b> - государственный орган, муниципальный орган, юридическое или физическое лицо, самостоятельно или
        совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных,
        состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными;
    </p>
    <p>
        <b>Персональные данные, разрешенные субъектом персональных данных для распространения</b>, - персональные данные, доступ неограниченного круга лиц к
        которым предоставлен субъектом персональных данных путем дачи согласия на обработку персональных данных, разрешенных субъектом персональных данных для
        распространения в порядке, предусмотренном Федеральным законом 27.07.2006 № 152-ФЗ «О персональных данных».
    </p>
    <p>
        <b>Обработка персональных данных клиента или сотрудника</b> - любое действие (операция) или совокупность действий (операций), совершаемых с
        использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление,
        хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование,
        удаление, уничтожение персональных данных клиента или сотрудника.
    </p>

    <h5><b>4. Основные понятия, используемые в настоящей Политике обработки ПДн </b></h5>
    <p>Для целей настоящей Политики применяются следующие термины и определения:</p>
    <p><b>Персональные данные</b> - любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу </p>
    <p><b>Субъект персональных данных</b> – физическое лицо, которое прямо или косвенно определено или определяемо с помощью персональных даных;</p>
    <p>
        <b>Оператор персональных данных (оператор)</b> - государственный орган, муниципальный орган, юридическое или физическое лицо, самостоятельно или
        совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных,
        состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными;
    </p>
    <p>
        <b>Персональные данные, разрешенные субъектом персональных данных для распространения</b>, - персональные данные, доступ неограниченного круга лиц к
        которым предоставлен субъектом персональных данных путем дачи согласия на обработку персональных данных, разрешенных субъектом персональных данных для
        распространения в порядке, предусмотренном Федеральным законом 27.07.2006 № 152-ФЗ «О персональных данных».
    </p>
    <p>
        <b>Обработка персональных данных клиента или сотрудника</b> - любое действие (операция) или совокупность действий (операций), совершаемых с
        использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление,
        хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование,
        удаление, уничтожение персональных данных клиента или сотрудника.
    </p>
</div>


