@{
    ViewData["Title"] = "Training";
}

<div class="training">
   
    <div class="training-content">
        <div class="training-image">
            <a href="sale-image">
                <img src="https://gas-kvas.com/uploads/posts/2023-01/1673591004_gas-kvas-com-p-detskii-risunok-trenera-51.png">
            </a>

        </div>

        <div class="training-info">
            <div class="training-info-slogan">
                    ПЕРСОНАЛЬНЫЕ ТРЕНИРОВКИ - ЭТО
            </div>
            
            <div class="training-info-about">
                <div class="training-box">
                    <span>14 </span><i class="fa-solid fa-arrows-turn-right"></i>
                    <p>НАПРАВЛЕНИЙ ЗАНЯТИЙ</p>
                </div>

                <div class="training-box">
                    <span>11 </span><i class="fa-solid fa-person-half-dress"></i>
                    <p>ИНДИВИДУАЛЬНЫХ ПРОГРАММ ПИТАНИЯ</p>
                </div>

                <div class="training-box">
                    <span>100+</span><i class="fa-solid fa-person-chalkboard"></i>
                    <p>КВАЛИЦИЦИРОВАННЫХ ТРЕНЕРОВ</p>
                </div>

                <div class="training-box">
                    <span>4 </span><i class="fa-solid fa-star"></i>
                    <p>ТРЕНЕРА VIP КЛАССА</p>
                </div>
            </div>
            <div class="training-info-warning">
                Внимание! Воспользоваться персональной тренировкой необходимо в течение 1 дня после приобретения договора.
                Активация услуги происходит автоматически в день покупки.</div>
        </div>
   </div>
    <div class="training-description">

        <div class="description-slogan"> Занимайся регулярно и экономь с пакетом тренировок!</div>

        <div class="description-package-training">

            <div class="package">
                <div>1 тренировка</div>
                <i class="fa-solid fa-dumbbell"></i>
                <div>2000 руб</div>
                <div class="description-button-buy"><a class="btn" asp-area="" asp-controller="Home" asp-action="SignIn">Купить</a> </div>
            </div>

            <div class="package">
                <div>4 тренировки</div>
                <i class="fa-solid fa-dumbbell"></i>
                <div>7000 руб</div>
                <div class="description-button-buy"><a class="btn" asp-area="" asp-controller="Home" asp-action="SignIn">Купить</a> </div>
            </div>

            <div class="package">
                <div>8 тренировок</div>
                <i class="fa-solid fa-dumbbell"></i>
                <div>12900 руб</div>
                <div class="description-button-buy"><a class="btn" asp-area="" asp-controller="Home" asp-action="SignIn">Купить</a> </div>
            </div>

            <div class="package">
                <div>16 тренировок</div>
                <i class="fa-solid fa-dumbbell"></i>
                <div>25600 руб</div>
                <div class="description-button-buy"><a class="btn" asp-area="" asp-controller="Home" asp-action="SignIn">Купить</a> </div>
            </div>

            <div class="package">
                <div>24 тренировки</div>
                <i class="fa-solid fa-dumbbell"></i>
                <div>34850 руб</div>
                <div class="description-button-buy"><a class="btn" asp-area="" asp-controller="Home" asp-action="SignIn">Купить</a> </div>
            </div>
        </div>
    </div>
   
</div>




