<footer class="border-top footer text-muted bg-dark">
    <div class="container-footer">
        <div class="footer-info">
            
            <div class="footer-link-logo">
                SIMPLE<i class="fa-solid fa-dumbbell"></i>SHOP <p>(812) 610 06 06</p>
            </div>
            
            <div class="footer-link">
                <div><i class="fa-solid fa-location-arrow"></i>НОВОСТИ КЛУБОВ</div>
                <div><i class="fa-solid fa-location-arrow"></i>АКАДЕМИЯ SIMPLE SHOP</div>
                <div><i class="fa-solid fa-location-arrow"></i>ВАКАНСИИ</div>
            </div>
            
            <div class="footer-link">
                <div><i class="fa-solid fa-location-arrow"></i>КОРПОРАТИВНЫЕ ПРОДАЖИ</div>
                <div><i class="fa-solid fa-location-arrow"></i>РАЗВИТИЕ РЕГИОНОВ</div>
                <div><i class="fa-solid fa-location-arrow"></i>РЕКЛАМА В КЛУБАХ</div>
            </div>
            
            <div class="footer-link">
                <div>Служба поддержки</div>
                <div class="messange-logo">
                    <i class="fa-brands fa-square-whatsapp"></i>  
                    <i class="fa-brands fa-telegram"></i>
                </div>
                <div>с 07:00 до 00:00 <p>Email: help@ssclub.ru</p></div>
            </div>
        </div>
        
        <hr/>
        
        <div class="footer-documettation">
            <div class="footer-documentation-social">
                <i class="fa-brands fa-vk"></i>
                <i class="fa-brands fa-telegram"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
            <div class="footer-documentation-link"><a asp-area="" asp-controller="Home" asp-action="Privacy">Юридическая информация</a></div>
            <div class="footer-documentation-link"><a asp-area="" asp-controller="Home" asp-action="Privacy">Соглашение на обработку персональных данных</a></div>
            <div class="footer-documentation-link"> &copy; 2023 - SimpleShop.Mvc <p><a asp-area="" asp-controller="Home" asp-action="Privacy">Все права защищены</a></p> </div>
        </div>
    </div>
</footer>
