
<div class="store-menu">
    <div class="menu-point">
        <button class="btn navbar-account"><i class="fa-solid fa-tag"></i><a asp-area="Store" asp-controller="Home" asp-action="Index" asp-route-category="Discount">Акции</a></button>
    </div>
    <div class="menu-point">
        <button class="btn navbar-account"><i class="fa-solid fa-ticket"></i></i><a asp-area="Store" asp-controller="Home" asp-action="Index" asp-route-category="Subscription">Абонементы</a></button>
    </div>
    <div class="menu-point">
        <button class="btn navbar-account"><i class="fa-solid fa-medal"></i><a asp-area="Store" asp-controller="Home" asp-action="Index" asp-route-category="Training">Персональные занятия</a></button>
    </div>
    <div class="menu-point">
        <button class="btn navbar-account"><i class="fa-solid fa-wand-magic-sparkles"></i><a asp-area="Store" asp-controller="Home" asp-action="Index" asp-route-category="Service">Дополнительные услуги</a></button>
    </div>
</div>
    