
<div class="store-menu">
    <div class="menu-point">
        <button class="btn navbar-account"><i class="fa-solid fa-tag"></i><a asp-area="Store" asp-controller="Home" asp-action="Index" asp-route-categoryId="1">Акции</a></button>
    </div>
    <div class="menu-point">
        <button class="btn navbar-account"><i class="fa-solid fa-ticket"></i></i><a asp-area="Store" asp-controller="Home" asp-action="Index" asp-route-categoryId="2">Абонементы</a></button>
    </div>
    <div class="menu-point">
        <button class="btn navbar-account"><i class="fa-solid fa-medal"></i><a asp-area="Store" asp-controller="Home" asp-action="Index" asp-route-categoryId="3">Персональные занятия</a></button>
    </div>
    <div class="menu-point">
        <button class="btn navbar-account"><i class="fa-solid fa-wand-magic-sparkles"></i><a asp-area="Store" asp-controller="Home" asp-action="Index" asp-route-categoryId="4">Дополнительные услуги</a></button>
    </div>
</div>
    