<div class="sale-image">
    <div class="image-position">
        <a href="image"><img src="https://market.fitnesshouse.ru/storage/banners/%D0%A6%D0%9F1.jpg" width="670" height="350"></a>
    </div>
    <div class="image-position">
        <a href="image"><img src="https://market.fitnesshouse.ru/storage/banners/%D0%A6%D0%9F2.jpg" width="650" height="175"></a>
        <a href="image"><img src="https://market.fitnesshouse.ru/storage/banners/%D0%A6%D0%9F3.jpg" width="650" height="175"></a>
    </div>
</div>
