<div class="error-page">
	<div class="notFountImage">
		<i class="fa-regular fa-face-frown"></i>
	</div>
	<div class="notFountText">
		<h1>404</h1>
		<h5>Извините, страница недоступна!</h5>
	</div>
</div>
