<div class="payment-method">
    <div class="method-point">
        <div class="point-card">
            <h2>Онлайн</h2>
            <i class="fa-solid fa-credit-card"></i>
        </div>
        <div class="point-card">
            <h2>В клубе</h2>
            <i class="fa-solid fa-money-bill-1-wave"></i>
        </div>
    </div>
</div>
