
<div class="modal" tabindex="-1" id="choose-pay">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalId">Выберите способ оплаты</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="payment-method">
                    <div class="method-point">
                        <div class="point-card">
                            <h2>Онлайн</h2>
                            <button class="online"><i class="fa-solid fa-credit-card"></i></button>
                        </div>
                        <div class="point-club">
                            <h2>В клубе</h2>
                            <button class="offline"><i class="fa-solid fa-money-bill-1-wave"></i></button>
                        </div>
                    </div>
                </div>
                <div id="onlinePay" class="d-none">
                    <div class="credit-card" id="card">
                        <div class="card-front">
                            <div class="branding">
                                <img src="https://thumbs.dreamstime.com/b/chip-credit-card-sim-card-chip-chip-credit-card-sim-card-chip-vector-107162925.jpg" class="chip-img" />
                                <img src="https://w7.pngwing.com/pngs/314/877/png-transparent-visa-logo-credit-card-debit-card-mastercard-logo-visa-go-blue-text-trademark.png" class="visa-logo" />
                            </div>
                            <div class="card-number">
                                <div>
                                    <span class="card-number-display">0</span>
                                    <span class="card-number-display">0</span>
                                    <span class="card-number-display">0</span>
                                    <span class="card-number-display">0</span>
                                </div>
                                <div>
                                    <span class="card-number-display">0</span>
                                    <span class="card-number-display">0</span>
                                    <span class="card-number-display">0</span>
                                    <span class="card-number-display">0</span>
                                </div>
                                <div>
                                    <span class="card-number-display">0</span>
                                    <span class="card-number-display">0</span>
                                    <span class="card-number-display">0</span>
                                    <span class="card-number-display">0</span>
                                </div>
                                <div>
                                    <span class="card-number-display">0</span>
                                    <span class="card-number-display">0</span>
                                    <span class="card-number-display">0</span>
                                    <span class="card-number-display">0</span>
                                </div>
                            </div>
                            <div class="details">
                                <div>
                                    <span>Владелец карты</span>
                                    <span id="card-holder-name">IVANOV IVAN</span>
                                </div>
                                <div>
                                    <span>Срок действия</span>
                                    <span id="validity">06/28</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-back">
                            <div class="black-strip"></div>
                            <div class="white-strip">
                                <span>CVV</span>
                                <div id="cvv-display"></div>
                            </div>
                            <img src="visa.png" class="visa-logo" />
                        </div>
                    </div>

                    <div class="personal-card-info">
                        <div class="form-position">
                            <label for="card-number">Номер карты</label><br />
                            <input type="number" class="form-control" id="card-number" placeholder="0000 0000 0000 0000" />
                        </div>
                        <div class="form-position">
                            <label for="validity">Срок действия</label><br />
                            <input type="date" class="form-control" id="validity"/>
                        </div>
                        <div class="form-position">
                            <label for="cvv">Срок действия</label><br />
                            <input type="number" class="form-control" id="cvv" placeholder="***" />
                        </div>
                        <div class="finish-button">
                            <button class="finish-online-pay">Оплатить</button>
                        </div>
                    </div>
                        
                    <div class="warning-text">
                        <hr>
                        Ваш платеж защищен по международному стандарту PCI DSS.
                        Сервис предоставляет АО Банк ”IVNV”. Служба поддержки: support@ivnv.ru
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Вернуться к регистрации</button>
            </div>
        </div>
    </div>
</div>
