<div class="finish-container">
	<div>Оформление завершено успешно!</div>
    <button class="finish-pay-button">Вернуться на сайт</button>
</div>

@section Scripts
{
    <script src="~/js/views/store/order/finishPay.js"></script>
}
