@{
    ViewData["Title"] = "FinishPay";
}
<div class="finish-container">

    <img class="ok-image" src="https://static.tildacdn.com/tild3832-3837-4533-b635-306133356566/___4.png" />
	
    <div class="head">Оформление завершено успешно!</div>
    <div>Вы будете перенаправлены на сайт магазина через: <div id="counter">10</div></div>

    <hr />
    <div>Нажмите кнопку "Перейти на сайт", чтобы перейти немедленно</div>
    <button class="finish-pay-button">Вернуться на сайт</button>
</div>

@section Scripts
{
    <script src="~/js/views/store/order/finishPay.js"></script>
}
