
<div class="pay-content">
    <div class="wrapper">
        <div class="credit-card" id="card">
            <div class="card-front">
                <div class="branding">
                    <img src="https://thumbs.dreamstime.com/b/chip-credit-card-sim-card-chip-chip-credit-card-sim-card-chip-vector-107162925.jpg" class="chip-img" />
                    <img src="https://w7.pngwing.com/pngs/314/877/png-transparent-visa-logo-credit-card-debit-card-mastercard-logo-visa-go-blue-text-trademark.png" class="visa-logo" />
                </div>
                <div class="card-number">
                    <div>
                        <span class="card-number-display">0</span>
                        <span class="card-number-display">0</span>
                        <span class="card-number-display">0</span>
                        <span class="card-number-display">0</span>
                    </div>
                    <div>
                        <span class="card-number-display">0</span>
                        <span class="card-number-display">0</span>
                        <span class="card-number-display">0</span>
                        <span class="card-number-display">0</span>
                    </div>
                    <div>
                        <span class="card-number-display">0</span>
                        <span class="card-number-display">0</span>
                        <span class="card-number-display">0</span>
                        <span class="card-number-display">0</span>
                    </div>
                    <div>
                        <span class="card-number-display">0</span>
                        <span class="card-number-display">0</span>
                        <span class="card-number-display">0</span>
                        <span class="card-number-display">0</span>
                    </div>
                </div>
                <div class="details">
                    <div>
                        <span>Владелец карты</span>
                        <span id="card-holder-name">IVANOV IVAN</span>
                    </div>
                    <div>
                        <span>Срок действия</span>
                        <span id="validity">06/28</span>
                    </div>
                </div>
            </div>
            <div class="card-back">
                <div class="black-strip"></div>
                <div class="white-strip">
                    <span>CVV</span>
                    <div id="cvv-display"></div>
                </div>
                <img src="visa.png" class="visa-logo" />
            </div>
        </div>

        <form>
            <label for="card-number">Card Number</label>
            <input type="number" id="card-number" placeholder="0000 0000 0000 0000" />
            <div class="date-cvv">
                <div>
                    <label for="validity">Expires On:</label>
                    <input type="date" id="validity-input" />
                </div>
                <div>
                    <label for="cvv">CVV:</label>
                    <input type="number" id="cvv" placeholder="***" />
                </div>
            </div>
            <div class="finish-button">
                <button class="finish-pay">Оплатить</button>
            </div>
        </form>

        <div class="warning-text">
            <hr>
            Ваш платеж защищен по международному стандарту PCI DSS.
            Сервис предоставляет АО Банк ”IVNV”. Служба поддержки: support@ivnv.ru
        </div>
        <div class="bank-page">

        </div>
    </div>
</div>

<script src="~/lib/jquery/jquery.min.js"></script>
<script>
    $(".finish-pay").click(function () {
        $.ajax({
            url: 'Pay',
            type: 'GET',
            dataType: 'html',
            success: function () {
                window.location.href = "http://localhost:5255/Home/Index";
            },
            error: function (e) { }
        })
    })
</script>
