@{
    ViewData["Title"] = "Registration";
}

<div class="home-container">

    <div class="menu-container">
        @{await Html.RenderPartialAsync("_Menu");}
    </div>

    <div class="registration-container">

        <h1>Оформление заказа</h1>

        <div class="registration-data">
            <div class="data-personal">
                <h2>Персональная информация</h2>

                <div class="form-position">
                    <label for="name">Имя</label><br />
                    <input type="text" class="form-control" id="name" />
                    <span id="validation-name"></span>
                </div>
                <div class="form-position">
                    <label for="surname">Фамилию</label><br />
                    <input type="text" class="form-control" id="surname" />
                    <span id="validation-surname"></span>
                </div>
                <div class="form-position">
                    <label for="patronymic">Отчество</label><br />
                    <input type="text" class="form-control" id="patronymic" />
                    <span id="validation-patronymic"></span>
                </div>
                <div class="form-position">
                    <label for="birthday">Дата рождения</label><br />
                    <input type="text" class="form-control datepicker-here" id="birthday" autocomplete="off" />
                    <span id="validation-birthday"></span>
                </div>
                <div class="form-position">
                    <label for="phone">Номер телефона</label><br />
                    <input type="text" class="form-control" id="phone" />
                    <span id="validation-phone"></span>
                </div>
                <div class="form-position">
                    <label for="email">Адрес эл. почты</label><br />
                    <input type="text" class="form-control" id="email" />
                    <span id="validation-email"></span>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="IsMan" value="true">
                    <label class="form-check-label" for="IsMan">
                        Мужской
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="IsWoman" value="false" checked>
                    <label class="form-check-label" for="IsWoman">
                        Женский
                    </label>
                </div>
            </div>

            <div class="data-order">
                <h2>Перечень товаров</h2>
                <div class="additional-partial" id="additional">
                    <div class="partial-content"></div>
                </div>
            </div>
        </div>

        <div class="registration-submit">
            <div class="submit-info">
                <div class="form-check">
                    <input class="form-check-input" id="form" required="" type="checkbox">
                    <label class="form-check-label" for="gridCheck">Я ознакомлен(-на) и согласен(-на) с условиями Договора,  Правилами техники безопасности, <a asp-area="" asp-controller="Home" asp-action="Privacy">Правилами Клуба</a> и даю свое согласие  на обработку персональных данных.</label>
                </div>
            </div>

            <div class="buttonts-next">
                <button class="button-back"><a class="btn" asp-area="Store" asp-controller="Home" asp-action="Index">Вернуться в магазин</a> </button>
                <button class="button-choose-pay" id="buy" disabled="">Перейти к оплате</button>
            </div>
        </div>
        @await Html.PartialAsync("_PayModal")
    </div>
</div>

@section Scripts
{
    <script src="~/js/views/store/order/registration.js"></script>
    <script src="~/lib/air-datepicker/js/datepicker.js"></script>
}


