<div class="account-menu">
    <div class="menu-point">
        <button class="btn navbar-account"><i class="fa-solid fa-address-card"></i><a asp-area="" asp-controller="Client" asp-action="Index">МОЙ ПРОФИЛЬ</a> </button>
    </div>
    <div class="menu-point">
        <button class="btn navbar-account"><i class="fa-solid fa-basket-shopping"></i><a asp-area="" asp-controller="Client" asp-action="Purchases">МОИ ПОКУПКИ</a> </button>
    </div>
    <div class="menu-point">
        <button class="btn navbar-account"><i class="fa-solid fa-circle-info"></i><a asp-area="" asp-controller="Client" asp-action="Help">ПОМОЩЬ</a> </button>
    </div>
</div>
