@using SimpleShop.Mvc.Areas.Store.ViewModels;
@model ShopCardFiveViewModel

<div class="order-list">
    @foreach (var Product in Model.ShopCard.ListShopItems)
    {
        <div class="list-position">
            <div class="pisition-info-modal">@Product.product.Name<br /></div>
            <div class="position-club-modal"> Simple Shop<br /></div>
            <div class="position-price-modal">@Product.product.Price руб.<br /><i class="fa-regular fa-trash-can"></i></div>
        </div>
    }
    <div class="list-price">Итого: <span>@Model.ShopCard.ListShopItems.Select(c => c.product).Sum(c => c.Price).ToString() руб.</span></div>
</div>
