
<div class="basket-container">
    <div class="menu-container">
        @{
            await Html.RenderPartialAsync("_Menu");
        }
    </div>

    <div class="basket-content">
        <div class="order-info">
            <h1>Данные о товаре</h1>
        </div>
        <div class="order-basket">

            <div class="additional-partial" id="additional">
                <div class="partial-content"></div>
            </div>
            
            <div class="buttonts-next">
                <div class="button-basket-modal"><a class="btn" asp-area="Store" asp-controller="Home" asp-action="Index" asp-route-category="Discount">Продолжить покупки</a> </div>
                <div class="button-basket-modal"><a class="btn" asp-area="Store" asp-controller="Order" asp-action="Registration">Петейти к оформлению</a></div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $.ajax({
            url: 'Order/BasketModal',
            type: 'GET',
            dataType: 'html',
            success: function (content) {
                $('#additional div.partial-content').html(content);
            },
            error: function (e) { }
        });
    })
</script>
