@using SimpleShop.Mvc.ViewsModels;
@model ClientViewModel

@{
    ViewData["Title"] = "Account";
}

<div class="account">
    @await Component.InvokeAsync("Menu")

    <div class="account-content">
        <div class="account-user-about">
            <div class="user-about-name">@Model.Name @Model.Surname<p><span>@Model.Phone</span></p></div>
            <div class="account-user-exit">
                <button class="btn navbar-account"><a asp-area="" asp-controller="Home" asp-action="Index">Выйти</a><i class="fa-solid fa-right-from-bracket"></i> </button>
            </div>
        </div>

        <div class="account-personal">
            <div class="account-personal-chapter">ВОЗВРАТ ДОПОЛНИТЕЛЬНОЙ УСЛУГИ</div>
            <hr />

            <div class="button-wrapper">
                <button type="submit" class="btn btn-primary"> <a class="dropdown-item" asp-area="" asp-controller="Client" asp-action="Help">Подробнее</a></button>
            </div>
        </div>

        <div class="account-personal">
            <div class="account-personal-chapter">ПРОДЛЕНИЕ УСЛУГ ПО БОЛЕЗНИ</div>
            <hr />

            <div class="button-wrapper">
                <button type="submit" class="btn btn-primary"> <a class="dropdown-item" asp-area="" asp-controller="Client" asp-action="Help">Подробнее</a></button>
            </div>
        </div>

        <div class="account-personal">
            <div class="account-personal-chapter">УДАЛЕНИЕ УЧЕТНОЙ ЗАПИСИ</div>
            <hr />

            <div class="button-wrapper">
                <button type="submit" class="btn btn-primary"> <a class="dropdown-item" asp-area="" asp-controller="Client" asp-action="Help">Подробнее</a></button>
            </div>
        </div>
    </div>
</div>
