@using SimpleShop.Mvc.ViewModels;
@model ClubViewModel

<div class="club-content-info">
    <h1><a name="schedule_link">РАСПИСАНИЕ ФИТНЕС-КЛУБА</a></h1>
    <h1>SIMPLE-SHOP @Model.DisplayName</h1>
</div>

<div class="club-schedule">
    <div class="shedual-table">
        <div class="table-date">
            <div class="date-logo"><i class="fa-regular fa-clock"></i></div>
            <div class="date-day">18.09 пн</div>
            <div class="date-day">19.09 вт</div>
            <div class="date-day">20.09 ср</div>
            <div class="date-day">21.09 чт</div>
            <div class="date-day">22.09 пт</div>
            <div class="date-day">23.09 сб</div>
            <div class="date-day">24.09 вс</div>
        </div>

        <div class="table-lessons">
            <div class="lessons-time">
                <div class="time-hour">09.00</div>
                <div class="time-lesson">Lower body</div>
                <div class="time-lesson">Body sculpt</div>
                <div class="time-lesson"></div>
                <div class="time-lesson">Bums+ABS</div>
                <div class="time-lesson"></div>
                <div class="time-lesson"></div>
                <div class="time-lesson">Lower body</div>
            </div>
            <div class="lessons-time">
                <div class="time-hour">10.00</div>
                <div class="time-lesson"></div>
                <div class="time-lesson">Flex</div>
                <div class="time-lesson">Body sculpt</div>
                <div class="time-lesson">Lower body</div>
                <div class="time-lesson">Fitness Yoga</div>
                <div class="time-lesson">Dumbbells</div>
                <div class="time-lesson"></div>
            </div>
            <div class="lessons-time">
                <div class="time-hour">11.00</div>
                <div class="time-lesson">Lower body</div>
                <div class="time-lesson">Flex</div>
                <div class="time-lesson"></div>
                <div class="time-lesson">Bums+ABS</div>
                <div class="time-lesson">Body sculpt</div>
                <div class="time-lesson"></div>
                <div class="time-lesson">Body sculpt</div>
            </div>
            <div class="lessons-time">
                <div class="time-hour">16.00</div>
                <div class="time-lesson">Lower body</div>
                <div class="time-lesson">Body sculpt</div>
                <div class="time-lesson"></div>
                <div class="time-lesson"></div>
                <div class="time-lesson"></div>
                <div class="time-lesson">Body sculpt</div>
                <div class="time-lesson">Dumbbells</div>
            </div>
            <div class="lessons-time">
                <div class="time-hour">17.00</div>
                <div class="time-lesson"></div>
                <div class="time-lesson"></div>
                <div class="time-lesson">Lower body</div>
                <div class="time-lesson">Bums+ABS</div>
                <div class="time-lesson">Fitness Yoga</div>
                <div class="time-lesson">Body sculpt</div>
                <div class="time-lesson">Flex</div>
            </div>
            <div class="lessons-time">
                <div class="time-hour">18.00</div>
                <div class="time-lesson">Body sculpt</div>
                <div class="time-lesson">Body sculpt</div>
                <div class="time-lesson">Lower body</div>
                <div class="time-lesson"></div>
                <div class="time-lesson">Body sculpt</div>
                <div class="time-lesson"></div>
                <div class="time-lesson"></div>
            </div>
        </div>
    </div>
</div>
