@model IEnumerable<SimpleShop.Mvc.ViewModels.StartViewModel>
@{
    ViewData["Title"] = "Schedule";
}
<div class="club-content">
    <div class="schedule-info">
        <div class="schedule-info-text">
            <h1>МАСТЕР-КЛАССЫ</h1>
            <h5>Мастер-классы и занятия, в названии которых содержится обозначение "СЕКЦИЯ" или в скобках указана стоимость, 
                являются Дополнительными услугами. Их посещение возможно только после предварительной оплаты.</h5>
        </div>
        <div class="schedule-info-image">
            <img src="https://i2.wp.com/d1wnoevxju5lec.cloudfront.net/storage/attachments/5789/67120_850879_highres.jpg">
        </div>
    </div>

    <div class="schedule-search">
        <h1>Найди свою тренировку</h1>
        <div class="search-parametrs">
            <div class="buttons">
                <div class="buttons-dropdown">
                    <div class="button"><button class="change-city">@Model.First().CityName <i class="fa-solid fa-location-dot"></i></button></div>
                    <div class="button">
                        <button class="btn dropdown-toggle btn-lg" type="button" data-bs-toggle="dropdown" aria-expanded="false">Выберите клуб<i class="fa-solid fa-city"></i></button>
                        <ul class="dropdown-menu">
                            @foreach (var club in Model)
                            {
                                <li><a class="dropdown-item" data-club="@club.ClubId">@club.ClubDisplayName</a></li>
                            }
                        </ul>
                    </div>
                </div>

                <div class="buttons-dropdown">
                    <div class="button"><a class="btn btn-lg" asp-area="" asp-controller="Club" asp-action="Schedule">Подобрать</a></div>

                    <div class="button"><a class="btn btn-lg" asp-area="" asp-controller="Club" asp-action="Schedule">Сбросить</a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="club-content-info">
        <h1><a name="schedule_link">РАСПИСАНИЕ ФИТНЕС-КЛУБА</a></h1>
    </div>

    <div class="club-schedule">
        <div class="shedual-table">
            <div class="table-date">
                <div class="date-logo"><i class="fa-regular fa-clock"></i></div>
                <div class="date-day">18.09 пн</div>
                <div class="date-day">19.09 вт</div>
                <div class="date-day">20.09 ср</div>
                <div class="date-day">21.09 чт</div>
                <div class="date-day">22.09 пт</div>
                <div class="date-day">23.09 сб</div>
                <div class="date-day">24.09 вс</div>
            </div>

            <div class="table-lessons">
                <div class="lessons-time">
                    <div class="time-hour">09.00</div>
                    <div class="time-lesson">Lower body</div>
                    <div class="time-lesson">Body sculpt</div>
                    <div class="time-lesson"></div>
                    <div class="time-lesson">Bums+ABS</div>
                    <div class="time-lesson"></div>
                    <div class="time-lesson"></div>
                    <div class="time-lesson">Lower body</div>
                </div>
                <div class="lessons-time">
                    <div class="time-hour">10.00</div>
                    <div class="time-lesson"></div>
                    <div class="time-lesson">Flex</div>
                    <div class="time-lesson">Body sculpt</div>
                    <div class="time-lesson">Lower body</div>
                    <div class="time-lesson">Fitness Yoga</div>
                    <div class="time-lesson">Dumbbells</div>
                    <div class="time-lesson"></div>
                </div>
                <div class="lessons-time">
                    <div class="time-hour">11.00</div>
                    <div class="time-lesson">Lower body</div>
                    <div class="time-lesson">Flex</div>
                    <div class="time-lesson"></div>
                    <div class="time-lesson">Bums+ABS</div>
                    <div class="time-lesson">Body sculpt</div>
                    <div class="time-lesson"></div>
                    <div class="time-lesson">Body sculpt</div>
                </div>
                <div class="lessons-time">
                    <div class="time-hour">16.00</div>
                    <div class="time-lesson">Lower body</div>
                    <div class="time-lesson">Body sculpt</div>
                    <div class="time-lesson"></div>
                    <div class="time-lesson"></div>
                    <div class="time-lesson"></div>
                    <div class="time-lesson">Body sculpt</div>
                    <div class="time-lesson">Dumbbells</div>
                </div>
                <div class="lessons-time">
                    <div class="time-hour">17.00</div>
                    <div class="time-lesson"></div>
                    <div class="time-lesson"></div>
                    <div class="time-lesson">Lower body</div>
                    <div class="time-lesson">Bums+ABS</div>
                    <div class="time-lesson">Fitness Yoga</div>
                    <div class="time-lesson">Body sculpt</div>
                    <div class="time-lesson">Flex</div>
                </div>
                <div class="lessons-time">
                    <div class="time-hour">18.00</div>
                    <div class="time-lesson">Body sculpt</div>
                    <div class="time-lesson">Body sculpt</div>
                    <div class="time-lesson">Lower body</div>
                    <div class="time-lesson"></div>
                    <div class="time-lesson">Body sculpt</div>
                    <div class="time-lesson"></div>
                    <div class="time-lesson"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" id="choose-city">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Выберите клуб</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/jquery.min.js"></script>
<script>
    $(".change-city").click(function () {
        $.ajax({
            url: 'Home/ChooseCityModal',
            type: 'GET',
            dataType: 'html',
            success: function (content) {
                $('#choose-city div.modal-content').html(content);
                $('#choose-city').modal('show');
            },
            error: function (e) { }
        })
    })
</script>
