@model IEnumerable<SimpleShop.Mvc.ViewModels.StartViewModel>
@{
    ViewData["Title"] = "Schedule";
}
<div class="club-content">

    <div class="schedule-info-partial" id="schedule-info">
        <div class="partial-content"></div>
    </div>

    <div class="schedule-info">
        <div class="schedule-info-text">
            <h1>МАСТЕР-КЛАССЫ</h1>
            <h5>Мастер-классы и занятия, в названии которых содержится обозначение "СЕКЦИЯ" или в скобках указана стоимость, 
                являются Дополнительными услугами. Их посещение возможно только после предварительной оплаты.</h5>
        </div>
        <div class="schedule-info-image">
            <img src="https://i2.wp.com/d1wnoevxju5lec.cloudfront.net/storage/attachments/5789/67120_850879_highres.jpg">
        </div>
    </div>

    <div class="schedule-search">
        <h1>Найди свою тренировку</h1>
        <div class="search-parametrs">
            <div class="buttons">
                <div class="buttons-dropdown">
                    <div class="button"><button class="change-city">@Model.First().CityName <i class="fa-solid fa-location-dot"></i></button></div>
                    <div class="button">
                        <button class="btn dropdown-toggle btn-lg" type="button" data-bs-toggle="dropdown" aria-expanded="false">Выберите клуб<i class="fa-solid fa-city"></i></button>
                        <ul class="dropdown-menu">
                            @foreach (var club in Model)
                            {
                                <li><a class="dropdown-item" data-club="@club.ClubId">@club.ClubDisplayName</a></li>
                            }
                        </ul>
                    </div>
                </div>

                <div class="buttons-dropdown">
                    <button class="button-see" data-club="@Model.First().ClubId">Подобрать</button>
                    <button class="button-reset">Сбросить</button>
                </div>

            </div>
        </div>
    </div>

    <div class="club-coaches-partial" id="coaches">
        <div class="partial-content"></div>
    </div>
   
    <div class="modal" tabindex="-1" id="choose-city">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Выберите клуб</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/views/site/club/schedule.js"></script>
}

