html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    padding-bottom: 345px;
    background: #F5F5F5;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;

}

/*Шапка*/
.header {
    background: #42474D;
    color: #fff;
}
.navbar{
    display:flex;
    justify-content:space-between;
    margin:0px;
    padding:21px 0px;
    width:100%;
}
.navbar-phone {
    font-size: 21px;
    font-weight: bold;
    font-family: 'Oxygen', sans-serif;
}
.navbar-logo {
    font-family: 'Oxygen', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
}
.navbar-logo i {
    transform: rotate(90deg);
}
.navbar-account {
    font-family: 'Oxygen', sans-serif;
    color: white;
    font-size: 21px;
}
.navbar a {
    color: white;
    text-decoration:none;
}
/*Шапка*/

/*Главная страница*/

.buttons {
    display: flex;
    justify-content: space-between;
    padding: 35px 0px;
}
.buttons-dropdown {
    display: flex;
}
.button {
    display: flex;
    background: #E2F0FB;
    margin: 0px 30px 0px 0px;
    box-shadow: 0.4em 0.4em 20px rgba(122,122,122,0.5);
    border-radius: 15px;
}
.button i{
    margin:0px 10px;
}
.button-buy {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 65px;
    background: #CD4141;
    margin: 0px 10px 0px 0px;
    box-shadow: 0.4em 0.4em 20px rgba(122,122,122,0.5);
    border-radius: 15px;
}
.button-buy a{
    color:white;
}
.change-city {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E2F0FB;
    box-shadow: 0.4em 0.4em 20px rgba(122,122,122,0.5);
    border-radius: 15px;
    font-size: 19px;
    color:black;
    padding:0px 15px;
}

.modal-title {
    color: black;
}
.choose-city {
    width: 400px;
    height: 40px;
    margin: 1px auto;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    background-color: white;
}


.content {
    display: flex;
    flex-direction: row;
    margin: 50px 0px 0px 0px;
}
.content-sale-image img{
    margin: 0px 10px;
    width: 625px;
    height: 715px;
    box-shadow: 0.4em 0.4em 20px rgba(122,122,122,0.5);
    border-radius: 20px;
}
.content-info {
    margin: 0px 10px 0px 10px;
}
.content-info h1{
    font-family: 'Oxygen', sans-serif;
    color: darkgray;
    font-size: 60px;
    font-weight: bold;
    text-align:center;
}
.content-info-about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0.4em 0.4em 20px rgba(122,122,122,0.5);
    border-radius: 20px;
    background: #E2F0FB;
}
.box {
    padding: 0px 0px 0px 50px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Oxygen', sans-serif;
    width: 315px;
    height: 140px;
    color: #42474D;
}
.box span {
    font-size: 70px;
}
.box p {
    font-size: 15px;
}
.content-info-call {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin: 20px 0px;
    box-shadow: 0.4em 0.4em 20px rgba(122,122,122,0.5);
    border-radius: 20px;
    background: #42474D;
}
.call-info p {
    padding: 15px 15px 15px 25px;
    font-size: 17px;
    font-weight: bold;
}
.call-input-i {
    padding: 0px 5px 15px 25px;
    width: 300px;
    height: auto;
}
.button-call {
    width: 250px;
    height: 50px;
    background: #CD4141;
    margin:20px;
    border-radius: 10px;
    text-align:center;
}
.call-info-privacy p{
    padding:5px 0px 15px 25px;
    font-size: 15px;
}
.others {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.others-job {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #42474D;
    padding: 40px 0px;
    margin: 10px;
    width: 625px;
    height: 300px;
    box-shadow: 0.4em 0.4em 20px rgba(122,122,122,0.5);
    border-radius: 20px;
    background: #E2F0FB;
}
.job-image {
    display: flex;
    justify-content: center;
    font-size: 80px;
    color: #42474D;
}
.others-banner {
    padding: 10px 0px;
}
.others-banner img {
    margin: 0px 10px;
    width: 625px;
    height: 300px;
    box-shadow: 0.4em 0.4em 20px rgba(122,122,122,0.5);
    border-radius: 20px;
}
/*Главная страница*/


.sign {
    margin: 30px;
    display: flex;
    justify-content: center;
    color: #42474D;
}

.join {
    margin: 30px;
    display: flex;
    justify-content: center;
    color: #42474D;
}
.join-form{
    width:600px;
}
.privacy {
    margin: 30px;
    color: #42474D;
}

/*Футер*/
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 335px;
}
.container-footer {
    display: flex;
    flex-direction: column;
    margin:30px 120px;
}
.footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:white;
}
.footer-link-logo {
    font-weight: bold;
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
}
.footer-link-logo i {
    transform: rotate(90deg);
}
.footer-link {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}
.messange-logo i {
    font-size: 45px;
}

.footer-documettation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-documentation-social {
    font-size: 30px;
}
.footer-documentation-link a {
    font-size: 14px;
    color: darkgray;
}
/*Футер*/


/*Страница клуба*/
.club-content{
    color:black;
}
.club-info {
    display: flex;
    flex-direction: column;
    margin: 30px 0px 30px 0px;
    background: url(https://sportishka.com/uploads/posts/2022-11/1667502322_44-sportishka-com-p-sportzal-medved-oboi-51.jpg) no-repeat 30px 20px;
    background-position: center center;
    padding: 140px 50px 0px 50px;
    color:white;
}
.club-info-work {
    margin:140px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.info-menu {
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    width: 750px;
}
.menu-box {
    padding: 20px 0px;
    text-align: center;
    width: 250px;
    outline: 2px solid darkgray;
    background-color: #161616;
}
.menu-box a {
    color: white;
    text-decoration: none;
}

.club-price {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    padding: 30px 0px;
}
.club-description {
    padding: 20px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    width: 280px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0.4em 0.4em 10px rgba(122,122,122,0.5);
/*    outline: 1px solid darkgray;*/
    background-color: #42474D;
}
.validity-period {
    width: 60%;
    outline: 2px solid #fff;
    border-radius: 10px;
    margin:auto;
}
.description-button-buy {
    width:max-content;
    margin: auto;
    padding:5px 15px;
    background-color: #E2F0FB;
    border-radius: 5px;
}
.description-button-buy a {
    color:black;
    text-decoration: none;
}

.club-presentation{
    padding:30px 0px;
}

/*Расписание*/
.club-content-info {
    padding: 30px 0px;
    color: #42474D;
}
.schedule-info {
    padding: 20px 0px;
    display: flex;
    height:350px;
}
.schedule-info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px 0px 0px;
    width: 60%;
    color: #42474D;
}
.schedule-info-text h1 {
    font-size: 65px;
}
.schedule-info-image{
    width:40%;
}
.schedule-info-image img {
    width: 100%;
    height: 300px;
    box-shadow: 0.4em 0.4em 20px rgba(122,122,122,0.5);
    border-radius: 20px;
}
.schedule-search {
    margin: 20px 0px;
    color: white;
    background-color: #90959A;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 0.4em 0.4em 10px rgba(122,122,122,0.5);
}
.club-schedule {
    padding: 30px 0px;
}
.table-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.table-lessons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.date-logo {
    width: 60px;
    outline: 2px solid black;
    text-align: center;
    background-color: darkgray;
}
.date-day {
    width: 175px;
    background-color: darkgray;
    outline: 2px solid black;
    text-align: center;
}
.lessons-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
.time-hour {
    padding: 10px 0px;
    width: 60px;
    background-color: #13AB8C;
    outline: 2px solid black;
}
.time-lesson {
    padding: 10px 0px;
    width: 175px;
    height: 50px;
    background-color: #ECE8A3;
    outline: 2px solid black;
}

/*Презентация тренировок*/
.club-training {
    padding: 30px 0px;
}
.carousel-item img {
    height: 700px;
    filter: brightness(75%);
}


.service-image {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
    padding: 30px 0px;
}
.service-image-one {
    width: 600px;
    height: 450px;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6)), url(https://avatars.dzeninfra.ru/get-zen_doc/5098316/pub_639ddc8bb8faed0d4f4259d5_639dde4e974a534fb9456d05/scale_1200);
    background-size: cover !important;
    background-position: center;
    margin: 20px 0px;
    border-radius: 20px;
    padding: 320px 0px 0px 50px;
    box-shadow: 0.4em 0.4em 10px rgba(122,122,122,0.5);
}
.service-image-two {
    width: 600px;
    height: 450px;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6)), url(https://uhod-za.ru/wp-content/uploads/b/1/7/b171175f36175f22bd4c4cce6302388a.jpg);
    background-size: cover !important;
    background-position: center;
    margin: 20px 0px;
    border-radius: 20px;
    padding: 320px 0px 0px 50px;
    box-shadow: 0.4em 0.4em 10px rgba(122,122,122,0.5);
}
.service-image-three {
    width: 600px;
    height: 450px;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6)), url(https://gwfit.ru/wp-content/uploads/2021/09/t5mw5hq9xpovyskde0ad4crgyl57zevy.jpeg);
    background-size: cover !important;
    background-position: center;
    margin: 20px 0px;
    border-radius: 20px;
    padding: 320px 0px 0px 50px;
    box-shadow: 0.4em 0.4em 10px rgba(122,122,122,0.5);
}
.service-image-four {
    width: 600px;
    height: 450px;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6)), url(https://eda.yandex/images/1387779/7d2ae8d4102a02fe3b01b2ad35fab59e-1100x825.jpeg);
    background-size: cover !important;
    background-position: center;
    margin: 20px 0px;
    border-radius: 20px;
    padding: 320px 0px 0px 50px;
    box-shadow: 0.4em 0.4em 10px rgba(122,122,122,0.5);
}
.communicate {
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
.communicate-form {
    padding:45px;
    outline: 2px solid darkgray;
    border-radius: 20px;
    box-shadow: 0.4em 0.4em 10px rgba(122,122,122,0.5);
}
.VK-link {
    padding: 45px 0px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.VK-link i{
    margin:20px 0px;
    font-size:35px;
}
/*Страница клуба*/



/*Страница тренеров*/
.club-coaches {
    display: flex;
    flex-direction: column;
    color: black;
}
.club-coaches-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px 0px;
}
.treners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0px;
    color: white;
    text-align: center;
    width: 250px;
    height: 370px;
    border-radius: 2px;
    box-shadow: 0.1em 0.1em 6px rgba(122,122,122,0.5);
/*    background: url("https://sportishka.com/uploads/posts/2022-08/1660572220_5-sportishka-com-p-luchshie-fitnes-treneri-sport-krasivo-foto-5.jpg") center center no-repeat;*/
    background-size: cover !important;
    filter: brightness(80%);
}

.treners i {
    margin:auto;
    font-size: 100px;
}
.button-see {
    background: #E2F0FB;
    margin: 0px 20px 0px 0px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    padding:0px 15px;
}
.button-reset {
    background: #E2F0FB;
    margin: 0px 0px 0px 0px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    padding: 0px 15px;
}
/*Страница тренеров*/


.reset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #42474D;
}
.reset-info {
    margin: 20px 0px;
    text-align: center;
    color: black;
}
.reset-form {
    display: flex;
    flex-direction: row;
}
.reset-form label {
    margin: 0px 50px 0px 0px;
}
.reset-buttonts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 30px 0px;
}
.resetcode {
    margin: 30px;
    display: flex;
    justify-content: center;
    color: #42474D;
}

.location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    padding: 20px;
    background-color: #FFFEDA;
    width: max-content;
    text-align: center;
    color:black;
    font-size:19px;
}
.location-buttons {
    padding: 10px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.button-agree {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E2F0FB;
    box-shadow: 0.4em 0.4em 20px rgba(122,122,122,0.5);
    border-radius: 5px;
    font-size: 19px;
    color: black;
    width: 100px;
}
.button-disagree {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E2F0FB;
    box-shadow: 0.4em 0.4em 20px rgba(122,122,122,0.5);
    border-radius: 5px;
    font-size: 19px;
    color: black;
    width: 100px;
}
.error-page {
    padding: 40px 0px 0px 0px;
    color: #212529;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.notFountImage i {
    font-size:80px;
}











