<header class="header">
    <div class="container">
        <nav class="navbar">
            <div class="navbar-phone">
                <i class="fa-solid fa-mobile-screen-button"></i> (812) 610 06 06
            </div>
            <button class="btn navbar-logo"><a asp-area="" asp-controller="Home" asp-action="Index">Simple<i class="fa-solid fa-dumbbell"></i>Shop</a></button>
            <button class="btn navbar-account"><i class="fa-solid fa-clipboard-user"></i> <a asp-area="" asp-controller="Account" asp-action="Login">Личный кабинет</a></button>
        </nav>
    </div>
</header>

