<header class="header">
    <div class="container">
        <nav class="navbar">
            <div class="navbar-phone">
                <i class="fa-solid fa-mobile-screen-button"></i> (812) 610 06 06
            </div>
            <div class="navbar-logo">Simple<i class="fa-solid fa-dumbbell"></i>Shop</div>
            <button class="btn navbar-account"><i class="fa-solid fa-clipboard-user"></i> Личный кабинет</button>
        </nav>
    </div>
</header>
